


<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
    Id="1"
    photoCover="https://www.publicdomainpictures.net/pictures/550000/nahled/rat-gangsterstijl-fantasie.jpg" cardTitle="A 3/4 nao para!" cardDescription="A mob da 3/4 consquista novamente a fama e lama."></app-big-card>
  </div>
  <div class="articles_minors">
    <app-small-card Id="2" cardTitle="Notícia Urgente: Tragédia no Cazarão - Matança de Três Ratos Abala a Comunidade Subterrânea!" photoCover="https://i.pinimg.com/originals/ca/c5/25/cac525f1b7ac6344832dec34daadba09.jpg">

    </app-small-card>
    <app-small-card Id="3" cardTitle="Notícia Eleitoral no Subterrâneo: Gangues de Ratos Competem pelo Controle nas Eleições Cazarão" photoCover="https://pm1.aminoapps.com/6392/d66dfa8bcaa123ff581b02ad7aa849c6676674de_00.jpg">

    </app-small-card>
    <app-small-card Id="4" cardTitle="Notícia Extraordinária: Humanos Reagem a Inusitada Pressão das Gangues de Ratos na Superfície da Cidade" photoCover="https://us.123rf.com/450wm/bomg/bomg1612/bomg161200289/68059173-ilustra%C3%A7%C3%A3o-stock-pessoas-no-estilo-retro-modelo-da-apresenta%C3%A7%C3%A3o-homem-com-cigarro-e-policial.jpg?ver=6">

    </app-small-card>

  </div>
</div>
