<header>
  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card photoCover="https://t4.ftcdn.net/jpg/05/42/69/27/360_F_542692727_JwAGeAz27peUQAlpUi3sGfIOmlNqy8v6.jpg" cardTitle="A 3/4 nao para!" cardDescription="A mob da 3/4 consquista novamente a fama e lama."></app-big-card>
  </div>
  <div class="articles_minors">
    <app-small-card cardTitle="Mataram 3 ratos no cazarao!" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTosGOROz8n6wTjDRrA5k3QoY9DMMHDzeiz8A&usqp=CAU">

    </app-small-card>
    <app-small-card cardTitle="Mataram 3 ratos no cazarao!" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTosGOROz8n6wTjDRrA5k3QoY9DMMHDzeiz8A&usqp=CAU">

    </app-small-card>
    <app-small-card cardTitle="Mataram 3 ratos no cazarao!" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTosGOROz8n6wTjDRrA5k3QoY9DMMHDzeiz8A&usqp=CAU">

    </app-small-card>

  </div>
</div>
